<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236709967305-60lt32unpat7llihu7unggvtv4lq7ma7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236709967305-60lt32unpat7llihu7unggvtv4lq7ma7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFRgvkrOjAJjbspmhcnF_asKHggi5mcE8</string>
	<key>GCM_SENDER_ID</key>
	<string>236709967305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.SwiftUIChatApp</string>
	<key>PROJECT_ID</key>
	<string>swiftuichatapp-62a03</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichatapp-62a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236709967305:ios:b4ab98f8faba759312e418</string>
</dict>
</plist>